@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
  background-repeat: no-repeat;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
  font-weight: 300;
  margin-right: 1rem;
}

.side-nav {
  display: none;
}

.form-container {
  display: none;
  background-color: #6a85b6;
  /* position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw; */
}

.add-books {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  font-size: 1.5rem;
  padding: 1rem;
  margin: 0.5rem;
  min-width: 300px;
  border-radius: 0.5rem;
}

.library-container {
  padding: 20px;
}

.select-filter,
.counter,
.add-card {
  display: flex;
  align-items: center;
}

.book-container {
  display: flex;
  flex-wrap: wrap;
}

.add-card,
.book-card {
  max-width: 50%;
  min-height: 250px;
  margin: 1rem;
  border-radius: 1rem;
  border: 3px solid #6a85b6;
  box-shadow: 3px 3px 2px 0px rgba(106, 133, 182, 1);
}

.add-card {
  padding: 1rem;
  min-width: 200px;
  background-color: white;
}

.add-card:hover {
  box-shadow: 0;
}

.book-card {
  padding: 1rem;
  min-width: 167px;
  background-color: #bac8e0;
}

footer {
  bottom: 0;
}
